@model IEnumerable<DomainModel.Models.FileViewModel>
<p>
    Найти:
    @{Html.BeginForm();}
    <input type="text" name="searchline">
    @Html.DropDownList("Types", ViewData["Attributes"] as List<SelectListItem>)
    <input type="submit" value="Filter" class="btn btn-default" />
    @{Html.EndForm();}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
